body {
    font-family: 'Roboto', sans-serif;
}
/* NavBar */
.nav-item, .dropdown-item {
    letter-spacing: .2em;
    font-size: 14px;
    text-transform: uppercase;
}
/* Footer */
.my_footer{
    background-color: #f8f9fa;
    height: 60px;
}
.my_footer p{
    padding-top: 20px;
    font-size: 14px;
}
/* Category Page */
.my_row_class{
    padding-top: 15px;

}
.my_row_class p{
    color: #000;
    font-size: 12px;
}

.my_row_class p a{
    color: #000;
    text-decoration: none;
}

/* CART */

.my_custom_table{
    min-width: 400px;
    font-size: 14px;
}

.my_custom_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
}

.custom_image{
    width: 100px;
    height: 100px;
}

.custom_a{
    text-decoration: none;
}

.custom_icon{
    text-decoration: none;
    color: #868e96 !important;
}

.my_custom_button{
    margin-top: 5px;
}
