{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
	Order History - Perfect Cushion Store
{% endblock %}
{% block content %}
	<div class="container">
		<div class="text-center my_title">Order History</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Order Number</th>
					<th>Order Date</th>
					<th>Total Amount</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for order in order_list %}
				<tr>
					{% if user.email == order.emailAddress %}
					<td>{{ order.id }}</td>
					<td>{{ order.created|date:'d M Y' }}</td>
					<td>{{ order.total}}</td>
					<td><i class="fas fa-check"></i>&nbsp;Complete</td>
					<td><a href="#">View Order</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>

		</table>

	</div>
	<br><br>
{% endblock %}
