{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Thanks - Perfect Cushion Store
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Thanks for placing your order
        </h1>
        <br><br>
        <p>Your order number is: <b>{{ customer_order.id }}</b></p>
        <br>
        <p>
            We have received your order and will begin processing it right away.
            You will receive a confirmation e-mail shortly.
        </p>
    </div>
</div>
<br><br>
{% endblock %}
