{% extends 'base.html' %}
{% block metadescription %}
		{{ category.description|truncatewords:155 }}
{% endblock %}
{% block title %}
		{{ category.name }} - Perfect Cushion Store
{% endblock %}

{% block content %}
    <h2>{{ category.name }}</h2>
    <h2>{{ category.description }}</h2>
    <a href="{{ category.get_absolute_url }}">{{category.name}}</a>
    <br>
    {% for product in category.products.all %}
        <h3>{{ product.name }}</h3>
        <h4>{{ product.price }}</h4>
    {% endfor %}

{% endblock %}
