{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
    {{ product.desctiption|truncatewords:155 }}
{% endblock %}
{% block title %}
    {{product.name}} - Perfect Cushion Store
{% endblock %}
<div class="">
    <p><a href="{% url 'shop:allprodcat' %}">Home</a></p>
    <br>
    <div class="">
        <a href="{% url 'product.get_absolute_url' %}"><img src="#" alt="{{product.name}}"></a>
    </div>
    <br>
    <div class="">
        <h1>{{product.name}}</h1>
        <p>{{product.price}}</p>
        <p>Product Description</p>
        <p>{{product.desctiption}}</p>
        {% if product.stock = 0 %}
             <p><b>Out of Stock</b></p>
        {% else %}
            <a href="#">Add to Cart</a>
        {% endif %}
    </div>
</div>
