{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
    {{ product.desctiption|truncatewords:155 }}
{% endblock %}
{% block title %}
    {{product.name}} - Perfect Cushion Store
{% endblock %}
{% block content %}
<div class="">
    <p><a href="{% url 'shop:allprodcat' %}">Home</a> | <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a> | {{product.name}}</p>
</div>
<br>
<div class="">
    <img src="#" alt="{{product.name}}">
</div>
<br>
<div class="">
    <h1 class="my_prod_title">{{product.name}}</h1>
    <p>{{product.price}}</p>
    <p class="my_title">Product Description</p>
    <p class="text-justify my_produ_text">{{product.description}}</p>
    {% if product.stock == 0 %}
        <p class="text-justify my_produ_text"><b>Out of Stock</b></p>
    {% else %}
        <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-secondary" >Add to Cart</a>
    {% endif %}
</div>
{% endblock %}
