{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
        Welcome to the Cushion Store
{% endblock %}
{% block title %}
    See Our Cushion Collection - Perfect Cushion Store
{% endblock %}
{% block content %}
     <img src="#" alt="Our Product Collection">
     <br>
     <div class="">
         <h1>Our Productions Collection</h1>
         <p>Finding the perfect cushion for your romm can instantly add
            to the levels of comfort and sense of style
         </p>
     </div>
    <div class="">
        {% for product in object_list %}
            <!-- <a href="#"><img src="#" alt="{{product.name}}"></a> -->
            <h4>{{product.name}}</h4>
            <p>{{product.price}}</p>
        {% endfor %}
    </div>
{% endblock %}
