{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
        Welcome to the Cushion Store
{% endblock %}
{% block title %}
    See Our Cushion Collection - Perfect Cushion Store
{% endblock %}
{% block content %}
     <img src="#" alt="Our Product Collection">
     <br>
     <div class="row my_row_class mx-auto">
         <h1>Our Productions Collection</h1>
         <p>Finding the perfect cushion for your romm can instantly add
            to the levels of comfort and sense of style
         </p>
     </div>
    <div class="">
        {% for product in object_list %}
            <!-- <a href="#"><img src="#" alt="{{product.name}}"></a> -->
            <a href="{{product.get_absolute_url}}"><h4>{{product.name}}</h4></a>
            <p>{{product.price}}</p>
        {% endfor %}
    </div>
    {% if is_paginated %}
  <ul class="pagination text-center">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
