<div class="container">
    <div class="my_custom_menu">
        <ul>
            {% if request.user.is_authenticated %}
            <li>
                Welcome,<a href="#" class="dropdown-toggle" data-toggle='dropdown'
                        aria-haspopup='true' aria-expanded='false'>
                    {{ user.username }} <i class="fas fa-user"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'order:order_history' %}" class="dropdown-item">
                        Order History
                    </a>
                </div>
            </li>
            <li>
                <a href="{% url 'accounts:logout' %}">Log Out <i class="fas fa-sign-out-alt"></i></a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'accounts:signup' %}">Sign Up <i class="fas fa-user-plus"></i></a>
            </li>
            <li>
                <a href="{% url 'accounts:login' %}">Login <i class="fas fa-sign-in-alt"></i></a>
            </li>
            {% endif %}
        </ul>


    </div>

</div>
